@using EntityLayer.Concrete
@model List<Admin>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h2>Adminler</h2>
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Ad</th>
        <th>Soyad</th>
        <th>Email</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.AdminId</td>
            <td>@item.Name</td>
            <td>@item.Surname</td>
            <td>@item.Email</td>
        </tr>
    }
</table>
